<a href="https://colab.research.google.com/github/syedaBasmaAfreen/python-DA-ML/blob/main/basma_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ⌨  Day 2

                                Built-In Data  Types
\

Sequence DT:List , tuple, Range

# ↪` LIST`
1. lists are created using Square bracket follwed by listName
2. lists items r ordered,chanageble,&allow duplicate value

In [ ]:
my_list=[1,20.9,"hello",True,False]
print(my_list)                                      #prints  all ele in the list

In [ ]:
                #access any element from the list using index no.

#    0   1    2      3     4    5
bye=[ 1, 20.9,"hello",True,False,'A']
#    -6   -5    -4     -3   -2   -1

print(bye[2])
print(bye[4])

#-ve indexing means starts from the end

print(bye[-1])                               #-1 refers to the last item in list
print(bye[-3])
                                 #print(abc[start:stop:step])
#range of indexes
                      #to print  a SUBSET is called slice or get random elements
print(bye[1:4])
print(bye[3:4])

#NOTE :) the search will start at indx 1(Included) & end at indx 4(Not included)


print(bye[-4 : -1])
print(bye[-4 : -3])

#NOTE :) the search will start at indx -4(Included) & end at indx -1(Not included)

 ↪ `Range of indexes`

In [ ]:
#by using +ve index
# [smaller indx no  :   greater index no]

sub=(12,13,14,15,16,17,81,19,61,71,91,51,31,211,155,100)
print(sub[1:6])                               #execlude the value at index no 6
print(sub[6:3])                         #does not return any elemenent
print(sub[1 :])
print(sub[: 3])                      #shortcuts
print(sub[:])                    #prints all the elements in a list

In [ ]:
#by using -ve index
# [greater indx no  :   smaller index no]

set=('a',  1,  True,  False,  5)
#    -5   -4    -3     -2    -1

print(set[-3:-1])                              #execlude the value at indx no -1
print(set[-2:-1])
print(set[-5 :-1 ] )#returns the val at index -5(included)to index -1(not included
print(set[-6 :])
print(set[:])

 ↪ ` Inserting`
    
    insert item at specified index
1. listname.insert(index No, value)
2. listname.insert(index No, [list])

In [ ]:
s=['a',1,True,False,5]
s.insert(3,567)
print(s)
s.insert(2,[2,3,4])# index numbr,[ list ]

print(s)

*Shortcut method for inserting items*

In [ ]:
i=['a',1,True,False,5]
i[1]="hey"
print(i)

 ↪`Append items`

In [ ]:
#ADd an item at the end of list
#listname.append(item)
s=['a',1,True,False,5]
s.append("hey")
print(s)

↪`Extend list`
  * listname1.extend(listname2)

In [ ]:
a=[1,2,3,4,5]
b=[9,8,7,6,8]
a.extend(b)        #combining 2 lists
print(a)
b.extend(a)
print(b)

In [ ]:
#skip every 2element
s=['a',1,True,False,5]

b=s[ : : 2]        #print(abc[start:stop:step])
print(b)

↪ `Remove specified items`
   * listname.remove("item")

In [ ]:
X=['a',1,True,False,5]
X.remove(5)
print(X)

↪`Remove specified index`

In [ ]:
#pop
#delete
#clear
K=['a',1,True,False,5]

K.pop()       #if you do not specify the index this method will removes last item
print(K)

K.pop(2)
print(K)

K.clear()
print(K)

del(K)
print(K)                            #del keyword can also delete the entire list

In [ ]:
#to reverse the list

x=[1,20.5,True,False,"hmmm"]
d=x[: : -1]
print(d)

↪` Loop through a list`

In [ ]:

y=[1,20.5,True,False,"hmmm"]
for z in y:
  print(z)

In [ ]:
#short hand for loop
y=[1,20.5,True,False,"hmmm"]
[ print(z) for z in y]

# `↪Tuple() is immutable`

1. tuples are written with round brackets
2. tuples is a collection  which is  ordered,unchanageble,&allow duplicate value

In [ ]:
#Data type of tuple


T=(1,20.5,True,False,"kind")
T=tuple(T)
print(type(T))#type casting :changing  the type of T from the list to tuple

In [ ]:
#tuple with one item (,)

thistuple=("abc" ,)
print(type(thistuple))

thistuple=("abc")
print(type(thistuple))

↪`Access Tuple items`

In [ ]:
  #    0   1    2      3     4    5
bye=[ 1, 20.9,"hello",True,False,'A']
#    -6   -5    -4     -3   -2   -1

print(bye[2])
print(bye[4])


print(bye[-1])       # -ve indexing
print(bye[-3])


print(bye[1:4])               #range of indexes
print(bye[3:4])
print(bye[2 :])
print(bye[:])
#NOTE :) the search will start at indx 1(Included) & end at indx 4(Not included)

print(bye[-4 : -1])                     # range of -ve indexes
print(bye[-4 : -3])

↪`Update Tuples`

In [ ]:
#change tuple values
  #Convert the tuple into a list to be able to change it

T=(1,20.5,True,False,"hey")
p=list(T)
p[1]="nap"
T=tuple(p)
print(T)
print(type(T))

In [ ]:
T=[1,20.5,True,False,"hey"]
p=tuple(T)                # tuples are  unchangeble  once it is created
p[1]="nap"
T=tuple(p)
print(T)
print(type(T))

In [ ]:
T=[1,20.5,True,False,"hmm"]
T=tuple(T)
E=T[1:-1]
print(E)
print(type(E))

print(T)

In [ ]:
#short hand for loop
y=(1,20.5,True,False,"hmmm")
[ print(z) for z in y]

In [ ]:
#join multipl tuples
T1=(1,20.5,True,False,"wow")

T2=T1*2
print(T2)