<a href="https://colab.research.google.com/github/syedaBasmaAfreen/python-DA-ML/blob/main/python_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                    
#  ‚å® DAY 1

# *DA & ML with PYTHON*


*  Python was created by Guido van Rossum & released on feb 20,1991.

* Python is easy to learn and code bcz it has simple syntax which helps the developer to write programs with fewer lines.

*  It is free open source and runs on  an interpreter system means that code can be executed as soon as it is written.

* Python relies on indentation.
*  case-sensitive. will not overwrite

In [ ]:
print("Hello, World!")

**`Variables`**



*  Variables are containers for storing data values.
*  variables are created when you assign a value to it
*   Python has no command for declaring a variable

*Declaration of  variable*

In [ ]:
a=1
#here 'a' is variable name and 10 is value stored in 'a'

In [ ]:
a =10
b=20.5
c=a+b
c        #execution of variable
#or
print (c)

30.5

In [ ]:
a=1
b=2
c=3
x=a+b
y=a+c
y
x
# here comiler gets confuse which Vrbl  TO Execute 1st so to overcome this cfsn we use print(Vrbl Name)fcn

3

In [ ]:
a=10
b=20
c=30
#x=a+b
y=a+c
z=c+c
print(a+b)
print(y)
print(z)

30
40
60

*DataTypes*

In [ ]:
a =10
b=20.5
c=a+b
c             #execution of variable
#or
print (c)
print(type(a))     #to know which data type  , we use type()fun
print(type(b))
print(type(c))

                       #specify a type on to a variable
ap=int(11)
bp=float(20.5)
cp=int(ap+bp)
print(cp)

dp=int(1.0)              #int can b convrt into float and vice versa
print(dp)

ep=str(1+2.0)
print(ep)


t=str(9)
l = str('k')
m = str(10)

n = str(m+l+t)           #concatinate/combining all var  "+" act as combining
print(n)

#p= int(l) + int(m)  #k is char & 1 is no. hence str & int cant be combine together
#print(p)
#w = float("k") str into float


e=int(m)+int(t)   # "+" act as add operation
print(e)

30.5
<class 'int'>
<class 'float'>
<class 'float'>
31
1
3.0

TypeError: ignored

In [ ]:


a=b=c="pink"                                    #assign mutltiple var to 1 value
x, y, z = "Orange  ", 6, "Cherry"            #multiple variables in one line:
print(x)
print(y)
print(z)
print(x,y,z)                           #multiple variables, separated by a comma
print(x+y+z)                  #use the + operator to output multiple variables

# x= 5
y = "John"              #strng & no will not concat
print(x + y)

Orange
6
Cherry
Orange   6 Cherry

TypeError: ignored

*Global Variables*

In [ ]:
x = "basma afreen"

def myfunc():
  print("Syeda" + x)

myfunc()

Syedabasma afreen

**` Operators`**

‚ñ∂ *Arithmetic Operator*

In [ ]:

h=2
i=4
Add=h+i
Sub=h-i
Mul=h*i
Sqr=h**i
print(Add)
print(Sub)
print(Mul)
print(Sqr)

6
-2
8
16

In [ ]:

#Division
a=10
b=2
p=a//b              #floor division
q=a/b               #quotient division
r=a%b               #reminder modules
k=a
print(p)
print(q)
print(r)

5
5.0
0

 *Assingnment Operator*

In [ ]:
u=1
v=2
a=u+1
b=v-1
c=v*2
d=v/v
e=v**2
f=v%2
g=v//2
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

2
1
4
1.0
4
0
1

*Comparison Operators*

In [ ]:
u=1
v=2
a=u==1
b=v!=1
c=v>=2
d=v<=v

print(a)
print(b)
print(c)
print(d)

True
True
True
True

*Logical Operators*

In [ ]:
x = 5
y= 10
z=1
print(x > 3 and x< 10)
print(y < 5 or  y< 4)
print(not(z>=1 and z>0))
print(not(z>=1 or z>0))

True
False
False
False

*Membership Operators*

In [ ]:
x = ["apple", "banana"]

print("banana" in x)
print("pineapple" not in x)

True
True