<a href="https://colab.research.google.com/github/syedaBasmaAfreen/python-DA-ML/blob/main/python_Day5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  ‚å® Day 5

# `Frozen sets`

In [ ]:
my_list=[1,2,3,35,5]
my_list=[w for w in my_list if w %2==0]
my_list=[x for x in my_list if x !=3]
print(my_list)
print(my_list)

In [ ]:
my_list=[1,2,3,34,5,6,7,8,9 ,10,1,13,14,15,16]
my_list=[x for  x  in range(1,11)]
print(my_list)

In [ ]:
list1=[1,2,3,34,5,6,7,8,9 ,10,1,13,14,15,16]
list =0
for x in list1:
 if x<list:
  x=list

In [ ]:

import datetime

x= datetime.datetime.now()
print(x)

# `Scopes`

In [ ]:
def fun(n):
 for i in range(0,n):
  for j in range(0, i+1):
   print("*" ,end=" ")
  print("\r")

fun(5)

In [ ]:
def fun(n):
 for i in range(0,n):
  for j in range(i,n):
   print("*" ,end=" ")
  print("\r")

fun(5)

In [ ]:
#def fun(n):
for i in range(-4,0):
  for j in range(-4,i):
   print("*" ,end=" ")
  print("\r")

fun(5)

In [ ]:
for i in range(-4,0):
  for j in range(-4,i):
   print("*" ,end=" ")
  print("\r")

In [ ]:
for i in range(1):
  for j in range(22):
    for j in range(33):

          print("*" ,end=" ")
  print("\r")