<a href="https://colab.research.google.com/github/syedaBasmaAfreen/python-DA-ML/blob/main/python_Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ‚å® Day7

## `Pandas`
Dataframes and series are core objects

# `Series`

In [ ]:
#1
import pandas as pd
pd.Series([1,2,3,4,5])

In [ ]:
#2
import pandas as pd
arr =[1,6,5,7]
print(arr)
my_series=pd.Series(arr)
print(my_series)

In [ ]:
arr =[1,6,5,7]
my_series=pd.Series(arr,index=['x','y','z','a'])
print(my_series)

In [ ]:
my_series=my_series.reindex(index=['a','b','c','d','e'])
my_series

In [ ]:
#3
a=pd.Series([1,2,3,4])
#a=a.reindex(index=['a','b','c','d'])
a

In [ ]:
a=pd.Series([1,2,3,4],index=['x','y','z','w'])
#a=a.reindex(index=['a','b','c','d'])
a

In [ ]:
calories ={
    "day1":567,
        "day2":67,
      "day3":9009,
      "day4":324,
}
my_series=pd.Series(calories)
print(my_series)

In [ ]:
calories ={
    "day1":567,
      "day2":67,
      "day3":9009,
      "day4":324,
}
my_series=pd.Series(calories,index=["day1","day3"])
print(my_series)

In [ ]:
calories ={
      "day1":[567,884,984,567],
      "day2":[567,884,984,567],
      "day3":[1,23,4,5],#All arrays must be of the same length
      "day4":[67,884,984,567]
}
#my_series=pd.Series(calories)
#print(my_series)
df=pd.DataFrame(calories)
print(df)

In [ ]:
import numpy as np
data1=np.random.randint(1,10,5)
data2=np.random.randint(11,20,5)
data1=pd.Series(data1)
data2=pd.Series(data2)
data1, data2

In [ ]:
data1.index

In [ ]:
data2=data2.reindex(data1.index)
data2

In [ ]:
data2[2]

In [ ]:
data1=data1.append(pd.Series([200,300,400]))
data1

In [ ]:
data2=pd.concat([data1,pd.Series([200,300,400])])
data2

In [ ]:
data2=pd.concat([data2,pd.Series([200,300,400])])
data2

In [ ]:
data2[1]

In [ ]:
data2[0]

In [ ]:
data2=pd.concat([data2,pd.Series([200,300,400])]).reset_index(drop=True)
data2

In [ ]:
a=pd.Series([11,12,15])
data3=pd.concat([data1,a]).reset_index(drop=True)
data3

Quering  a series

In [ ]:
student_classes={
    'alice':'chem',
    'jack': 'math',
    'molly':'physics',
    'sam':'history'
   }
print(student_classes)
s=pd.Series(student_classes)
print(s)

In [ ]:
s.iloc[2]

In [ ]:
s.loc['alice']

In [ ]:
s[0]

#` DataFrame`

In [ ]:
import pandas as pd

pd.DataFrame({'yes':[50,21],'N0':[131,2]})

Dataframes valued can also be strings

In [ ]:
df=pd.DataFrame({'basma':['be kind.','to yourself.'] ,'SYEDA':['pretty good.','pretty good.']})
df

In [ ]:
pd.DataFrame({'Basma':['be kind.','to yourself.'] ,'SYEDA':['pretty good.','pretty good.']},
  index=['product A','product B'])

In [ ]:
df=pd.DataFrame({'name':['stud1.','stud2.','stud3.'] ,'marks':[11,12,13]})
df

In [ ]:
df.shape#no of rows and columns

In [ ]:
row,col=df.shape
print(row)
print(col)

In [ ]:
data={'one':data3,'two':data2}
df1=pd.DataFrame(data)
df1

In [ ]:
df1[:5]

In [ ]:
df1['one'][:3]

In [ ]:
df1['two'][3 :]

In [ ]:
df1.head()

In [ ]:
df1.head(10)

In [ ]:
df1.tail()

In [ ]:
df1.tail(10)

In [ ]:
df1['three']=0
df1

In [ ]:
df1.columns()

In [ ]:
df1['four']=df1['one']+df1['two']
df1

In [ ]:
#maniplute th df1 and reduce ach valu byu half
def half(a):
  return a*0.5

In [ ]:
df1=half(df1)
df1

In [ ]:
df1.iloc[: ,0:2]

In [ ]:
df1.mode()

In [ ]:
df1.median()

In [ ]:
df1.mean()

In [ ]:
df1.max()

In [ ]:
df1.min()