<a href="https://colab.research.google.com/github/syedaBasmaAfreen/python-DA-ML/blob/main/python__Day_8ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 10

In [ ]:

import pandas as pd
data = {'Capitals':['PUNAJI', 'CHANDIGARH','PATNA','AGARTALA'],
            'Population':['1,345,668', '21,144,564', '82,998,507', '3,199,203'],
            'States':['GOA','HARYANA','BIHAR','TRIPURA'],
            'Visitors':[300,4000,500,80000],
            'Area':["3,702","44,212","94,163","10,468"]}

ds=pd.DataFrame(data)
ds

In [ ]:
ds.set_index('Area')

In [ ]:
ds=ds.reset_index()
ds

In [ ]:
ds.columns

In [ ]:
ds.drop(['index'], axis=1)

In [ ]:
df.T# transpose rows into col & col into rows

In [ ]:
df

In [ ]:
df['Visitors'].sum()

In [ ]:
#A value is trying to be set on a copy of a slice from a DataFrame

df['Visitors'][2]=5000
df

Handling Missing values

In [ ]:
import numpy as np

In [ ]:
np.nan

In [ ]:
cars=pd.Series(["tesla","tata",np.NaN,np.NaN,np.NaN,np.NaN,np.NaN,"maruthi","audi"])
cars

In [ ]:
cars.isna()#	Finds not-a-number values

In [ ]:
cars[cars.duplicated()]

In [ ]:
cars.replace(np.NaN,100,inplace=True)
cars

In [ ]:
cars.interpolate(inpace =True)

In [ ]:
cars.fillna(2023)	#Replaces NULL values with the specified value

In [ ]:
cars.dropna(inplace=True)#	Drops all rows that contains NULL values

In [ ]:
cars.fillna(0)	#Replaces NULL values with the specified value

In [ ]:
cars.isna()#	Finds not-a-number values

In [ ]:
cars[cars.duplicated()]

In [ ]:
cars.unique()